<% provide(:title, "注文商品") %>
<div class="row">
  <aside class="col-md-4">
  <p>
     Stationery Name:
     <br>
     
     
    <% @buy_item.each do |item| %>
    <%= item.count %>
    s

    
<% end %>
      <br>
      <br>
<%= link_to "購入確定", buy_items_path, :method => 'post',
                                  data: { confirm: "You sure?" } %>
      <br>
      </ol>
  </div>
     
      <br><li><%= link_to "商品一覧へ", stationery_index_path %></li>
　　</p>
</aside>
</div>