<% provide(:title, "Ranking") %>
<div class="row">
  <aside class="col-md-4">
  <p>
  <br>
     
     <br>
     <% @rankings.each do |stationery_sum| %>

     
     
     count:
     <%= stationery_sum.total_count %>
     <br>
        <br><br><br>
     <% end %>

    

      <br>
      <br>
      
      </ol>
  </div>
     
     <li><%= link_to "一覧", stationery_index_path %></li>
　　</p>
</aside>
</div>