<% provide(:title, "Ranking") %>
<div class="row">
  <aside class="col-md-4">
  <p>
  <h1>ランキング</h1>
  <br>
     
     <br>
     <% @rankings.each do |stationery_sum| %>

     stationery ID
     <%= stationery_sum.stationery_id %>
     <%= hidden_field_tag :stationery_id, stationery_sum.stationery_id %>
     <br>
     stationery name
     <%= stationery_sum.stationery.name %>
     
     <br>
        <br>
     <% end %>

    

      <br>
      <br>
      
      </ol>
  </div>
     
     <li><%= link_to "一覧", stationery_index_path %></li>
　　</p>
</aside>
</div>